.main_Container {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 5%;
}

.txtcontainer {
    float: left;
    width: 25%;
}

.txtcontainer h3 {
    text-align: left;
    font-family: "Oswald";
    color: #282828;
    text-transform: uppercase;
    font-size: 23px;
}

.underline {
    width: 100px;
    height: 5px;
    background-color: #ffa927;
    margin-top: -4px;
}

.butoonn {
    border: 1px solid #000000;
    color: #000000;
    width: 128px;
    height: 31px;
    text-transform: uppercase;
    font-family: "Oswald";
    font-size: 19px;
    text-align: center;
    padding: 4px;
    background-color: #ffffff;
    transition: 0.2s;
    margin-top: 5%;
    margin-bottom: 15%;
}

.butoonn:hover {
    color: white;
    background-color: #ffa927;
    cursor: pointer;
}

.txtcontainer p {
    text-align: left;
    color: #2B2B2B;
    font-family: "Open Sans";
    font-size: 17px;
    margin-bottom: 40px;
    margin-top: 15px
}

.piccontainer {
    float: right;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    margin-left: 5%;
    /* position: relative; */
    /* overflow: hidden; */
}

.monitor {
    width: 300px;
    height: 250px;
    background-image: url(mac.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    float: left;
    opacity: 1;
    box-sizing: border-box;
}

.sub_monitor,
.sub_monitor2,
.sub_monitor3,
.sub_monitor4,
.sub_monitor5,
.sub_monitor6 {
    height: 154px;
    left: 12px;
    position: relative;
    top: 10px;
    width: 256px;
    background-color: #000;
}

.sub_monitor {
    background-image: url(1.jpg);
    opacity: 0.8;
}

.sub_monitor2 {
    background-image: url(2.jpg);
}

.sub_monitor3 {
    background-image: url(3.jpg);
}

.sub_monitor4 {
    background-image: url(4.jpg);
}

.sub_monitor5 {
    background-image: url(5.jpg);
}

.sub_monitor6 {
    background-image: url(comming-soon.png);
}

.txtfielddemo {
    position: absolute;
    bottom: -1%;
    margin-left: 25%;

}
.testcontainer{
    position: relative;
}
.test {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -30%;
    /* top: -2%; */
    background-color: #ffa927;
    border-radius: 100px;
}

.monitor:hover {
    transform: rotate(-5deg) scale(0.9);
    transition: all ease 0.4s;
}


/* REsponsiveness...............  */

@media (max-width: 1070px) {
    .monitor {
        width: 250px;
        height: 200px;
    }

    .sub_monitor,
    .sub_monitor2,
    .sub_monitor3,
    .sub_monitor4,
    .sub_monitor5,
    .sub_monitor6 {
        height: 124px;
        left: 10px;
        position: relative;
        top: 8.5px;
        width: 206px;
        background-color: #000;
    }
}

@media (max-width:880px) {

    .main_Container {
        width: 80%;
        margin: auto;
        display: block;
        margin-top: 5%;
    }

    .txtcontainer {
        width: 90%;
        margin: auto;
        text-align: center;
        display: block;
    }

    .txtcontainer h3 {
        text-align: left;
        font-family: "Oswald";
        color: #282828;
        text-transform: uppercase;
        font-size: 30px;
    }
    .piccontainer {
        /* float: right; */
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        row-gap: 20px;
        margin-left: 5%;
        /* position: relative; */
    }
}

@media (max-width:550px) {
    .main_Container {
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 5%;
    }

    .monitor {
        width: 300px;
        height: 250px;
        z-index: 2;
    }

    .sub_monitor,
    .sub_monitor2,
    .sub_monitor3,
    .sub_monitor4,
    .sub_monitor5,
    .sub_monitor6 {
        height: 154px;
        left: 12px;
        top: 10px;
        width: 256px;
        background-color: #000;
        background-size: cover;
        z-index: 1;
    }
}

@media  (max-width:360px) {
    .main_Container {
        width: 97%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
    }

    .monitor {
        width: 300px;
        height: 250px;
        z-index: 2;
    }

    .sub_monitor,
    .sub_monitor2,
    .sub_monitor3,
    .sub_monitor4,
    .sub_monitor5,
    .sub_monitor6 {
        height: 154px;
        left: 12px;
        top: 10px;
        width: 245px;
        background-color: #000;
        background-size: cover;
        z-index: 1;
    }
}